.App {
  font-family: sans-serif;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* .App table {
  height: 80vh;
  text-align: center;
  background-color: rgb(3, 25, 76);
  color: white;
  border: 1px solid;
  padding: 1rem;
  border-radius: 3%;
} */
/* table th {
  background-color: black;
} */
